* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    min-height: 100vh;

    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mainco {
    width: 380px;
    min-height: 450px;
  box-sizing: border-box;
    background-color:white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px;
}input{
 width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 9px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    margin-top: 40px;
}h1{
  text-align: center;
  margin-left: 20px;


}.in{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;


}
button{
 width: 48%;
 padding: 8px;


}