* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    min-height: 100vh;

    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mainco {
    width: 380px;
    min-height: 450px;

  
    background-color: #eeeaea;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
   gap: 5%;
    padding: 40px;
    position: relative;

    
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}input{
 
  padding: 5%;
  border-radius: 20px;
  text-align: center;
  margin: 3%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}h1{
  display: flex;
position: relative;
top:0;
}.in{
  width: max-content;
  display: flex;


}
button{
 padding: 10%;
 border-radius: 5%;


}